{{ define "chat" }}
        <script type="text/javascript">
            $( window ).bind('keypress', function(e){
               if ( e.keyCode == 13 ) {
                   console.log("Enter!");
                   if($("#input")[0].value.length > 0) {
                     $("#send").click();
                   }
               }
             });

            window.addEventListener("load", function(evt) {
            var output = document.getElementById("output");
            var input = document.getElementById("input");
            var ws;
            var print = function(message) {
                var d = document.createElement("p");
                d.innerHTML = message;
                if(output.childNodes.length > 0) {
                  output.insertBefore(d, output.childNodes[0])
                } else {
                  output.appendChild(d);
                }
            };

            var showGif = function(url) {
                console.log("link");
                var d = document.createElement("div");
                var img = document.createElement("img");
                img.setAttribute("src", url);
                d.appendChild(img);
                if(output.childNodes.length > 0) {
                  output.insertBefore(d, output.childNodes[0])
                } else {
                  output.appendChild(d);
                }
            };

            document.getElementById("clear").onclick = function(evt) {
                var myNode = document.getElementById("output");
                while (myNode.firstChild) {
                  myNode.removeChild(myNode.firstChild);
                };
                return false;
            };

            document.getElementById("open").onclick = function(evt) {
                if (ws) {
                    return false;
                }
                ws = new WebSocket("{{.}}");
                ws.onopen = function(evt) {
                    print("Connected...");
                    document.getElementById("open").style.display = "none";
                    document.getElementById("close").style.display = "";
                }
                ws.onclose = function(evt) {
                    print("Disconnected...");
                    ws = null;
                    document.getElementById("open").style.display = "";
                    document.getElementById("close").style.display = "none";
                }
                ws.onmessage = function(evt) {
                    if(evt.data.match("http", evt.data)){
                      showGif(evt.data);
                    } else if(evt.data.match("keepalive", evt.data)){
                      console.log("keepalive");
                    } else {
                      print("RESPONSE: " + evt.data);
                    }
                }
                ws.onerror = function(evt) {
                    print("ERROR: " + evt.data);
                }
                return false;
            };
            document.getElementById("send").onclick = function(evt) {
                if (!ws) {
                    return false;
                }
                print("SEND: " + input.value);
                ws.send(input.value);
                return false;
            };
            document.getElementById("close").onclick = function(evt) {
                if (!ws) {
                    return false;
                }
                ws.close();
                return false;
            };
        });
        </script>
{{ end }}