{{ define "header" }}
<!doctype html>
<html>
    <head>
        <title>GolangUK Sample</title>
        <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="/public/css/bootflat.css">
        <link rel="stylesheet" href="/public/css/app.css">
        <link rel="stylesheet" href="/public/font-awesome-4.6.3/css/font-awesome.min.css">
        <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    </head>
    <body>
{{ end }}