{{ define "home" }}
    {{ template "header" . }}

        {{ template "nav" }}
            <div class="row">
                    <button class="btn btn-primary" id="open">Connect</button>
                    <button class="btn btn-danger" style="display:none;" id="close">Disconnect</button>
                    <button class="btn btn-warning" id="clear">Clear</button>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-1">
                    <img src="/public/img/golang_gopher.svg" style="width:50px; margin-left:40%;">
                </div>

                <div class="col-md-9">
                    <input id="input" type="text" class="form-control" placeholder="Write stuff here...">
                </div>

                <div class="col-md-2">
                    <button id="send">Send</button>
                </div>
            </div>

            <hr />

            <div class="row">
                <div class="col-md-12">
                    <div id="output">
                    </div>
                </div>
            </div>
    {{ template "footer" .}}
{{ end }}