{{ define "search" }}

        {{ template "header" .}}

        {{ template "nav" . }}

        <div class="container">

            <div class="row">
                <div class="col-md-12">
                    <div class="jumbotron">
                        <div class="jumbotron-photo">
                            <img src="/public/img/golang_gopher.svg" style="width:170px; margin-left:43%;">
                        </div>
                        <div class="jumbotron-contents">
                            <h1 style="text-align:center;">DuckDuckGopher</h1>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                    <div class="col-md-12">
                    <form role="form" class="form-horizontal" action="/search" method="POST">
                        <div class="input-group form-search">
                          <input type="text" name="input" class="form-control search-query" placeholder="Ask me a question...">
                          <span class="input-group-btn">
                            <button type="submit" class="btn btn-primary" data-type="last">Submit</button>
                          </span>
                        </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>

        {{ template "footer" .}}

{{ end }}